/* Write CSS code here */
body{
    background-color: rgba(240, 248, 255, 0.459);
}
header{
    background-color: blue;
}
#a1{
    height: 25px;
    width: 25px;
}
.a2{
    color: white;
    text-decoration: none;
}
.a3{
    color: rgb(81, 3, 88);
    text-decoration: none;
}
.i1{
    border-radius: 20px;
}
figure{
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}
.i3{
    height: 20px;
    width: 20px;
}
#c1{
    text-align: center;
}